###########################################################################
# git ignore file
###########################################################################

########################## general file patterns #################################
*/

######################### don't ignore ########################################
!icom_checker.bat