###########################################################################
# git ignore file
###########################################################################

########################## general file patterns #################################
*/
logFile.txt

######################### don't ignore ########################################
!icom_checker.bat